@page "{searchString?}"
@model ScriptureJournal2.Pages.Scriptures.IndexModel

@{
    ViewData["Title"] = "My Scriptures";
}

<h1>My Scriptures</h1>

<p>
    <a asp-page="Create">Add Scripture</a>
</p>

<form>
    <p>
        Book: <select asp-for="SearchBook" asp-items="Model.Books"><option value="">All Books</option></select>   
    </p>
    <p>
        Keywords: <input type="text" asp-for="SearchNote"/>
    </p>
    <p>
        Date Added: <select asp-for="SearchDate" asp-items="Model.Dates"><option value="">All Dates</option></select>
    </p>
    <input type="submit" value="filter" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Chapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Verse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].DateAdded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Scripture) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
